.error-message {
  color:red;
}
.error-message:before {
  content: "\f06a";
  font-family: FontAwesome;
}
.flash-error-message * { color:red; }
.flash-error-message:before {
  content: "\f00d";
  font-family: FontAwesome;
  color: red;
}
.flash-success-message * {
  color: green
}
.flash-success-message:before {
  content: "\f058";
  font-family: FontAwesome;
  color: green;
}
.header-page-title {
  font-size: xx-large;
  color    : white
}
